html {
  scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.Header{
    height: 100vh;
    width: 100%;
}
.home_page {
  background-image: url(/Website/pictures/Landscape.jpg);
  background-size: cover;
}
                /* Navigation style */
nav {
    display: flex;
    font-size: 23px;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 5px solid gainsboro;
    box-shadow: 0px 10px 50px grey;
}
nav ul li{
    padding: 10px 20px;
    margin-right: 75px;
    margin-top: 40px;
    border: 2px;
    border-radius: 30px;
    background-color: gainsboro;
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: black;
    transition: .5s;
}
nav ul li a:hover {
    font-size: 26px;
}
.title {
      font-size: 50px;
      padding-top: 30px;
      padding-left: 60px;
      text-decoration: none;
      display: inline-block;
      color: black;   
  }
section {
  background-image: url(/Website/pictures/Landscape.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.resume {
  position: absolute;
  width: 450px;
  top: 18%;
  left: 5%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 50px grey;  
}
.resume2 {
  position: absolute;
  width: 450px;
  top: 18%;
  left: 5%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 50px grey; 
  opacity: .7;
}